@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Murecho:wght@100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui"{
  themes :light --default;
  themes: all;
}



:root {
  --font-sans: 'Murecho', system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
}



@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1882FF;
  --color-secondary: #3b82f6;
  --color-accent: #64748b;
  --color-neutral: #f8fafc;
  --color-base-100: #ffffff;
  --color-base-200: #d6e4ff;
  --color-base-300: #7c93f9;
  --color-base-content: #1e3a8a;
}



.mulish-light {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
}

.mulish-regular {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

.mulish-semibold {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
}

/* Italics if needed */
.mulish-italic {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-optical-sizing: auto;
}

@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 100%;
  animation: gradient-x 15s ease infinite;
}


/* From Uiverse.io by AqFox */ 
.spinner {
 width: 44px;
 height: 44px;
 animation: spinner-y0fdc1 2s infinite ease;
 transform-style: preserve-3d;
}

.spinner > div {
 background-color: rgba(0,77,255,0.2);
 height: 100%;
 position: absolute;
 width: 100%;
 border: 2px solid #004dff;
}

.spinner div:nth-of-type(1) {
 transform: translateZ(-22px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
 transform: rotateY(-270deg) translateX(50%);
 transform-origin: top right;
}

.spinner div:nth-of-type(3) {
 transform: rotateY(270deg) translateX(-50%);
 transform-origin: center left;
}

.spinner div:nth-of-type(4) {
 transform: rotateX(90deg) translateY(-50%);
 transform-origin: top center;
}

.spinner div:nth-of-type(5) {
 transform: rotateX(-90deg) translateY(50%);
 transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
 transform: translateZ(22px);
}

@keyframes spinner-y0fdc1 {
 0% {
  transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
 }

 50% {
  transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
 }

 100% {
  transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
 }
}